//*=== theme color change option ===*//
body {
  &.bg-theme {
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    transition: background 0.2s;
    &.bg-theme1 {
      background-image: url(../../assets/images/colors/1.png);
    }

    &.bg-theme2 {
      background-image: url(../../assets/images/colors/2.png);
    }

    &.bg-theme3 {
      background-image: url(../../assets/images/colors/3.png);
    }

    &.bg-theme4 {
      background-image: url(../../assets/images/colors/4.png);
    }

    &.bg-theme5 {
      background-image: url(../../assets/images/colors/5.png);
    }

    &.bg-theme6 {
      background-image: url(../../assets/images/colors/6.png);
    }

    &.bg-theme7 {
      background-image: linear-gradient(45deg, #0c675e, #069e90);
    }

    &.bg-theme8 {
      background-image: linear-gradient(
        45deg,
        rgb(0, 242, 96),
        rgb(5, 117, 230)
      );
    }

    &.bg-theme9 {
      background-image: linear-gradient(45deg, #161d31, #090f20);
    }

    &.bg-theme10 {
      background-image: linear-gradient(45deg, #795548, #945c48);
    }

    &.bg-theme11 {
      background-image: linear-gradient(45deg, #1565c0, #1e88e5);
    }

    &.bg-theme12 {
      background-image: linear-gradient(45deg, #65379b, #886aea);
    }
  }
}
//*=== theme color change option ===*//

//*=== theme switcher css start ===*//
.switcher-wrapper {
  width: 280px;
  height: 100%;
  position: fixed;
  right: -280px;
  top: 0;
  bottom: 0;
  z-index: 16;
  background: #111314;
  border-left: 0 solid #d2d2d2;
  box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.13);
  transition: all 0.2s ease-out;
  &.switcher-toggled {
    right: 0;
  }
  .switcher-btn {
    width: 40px;
    height: 40px;
    line-height: 36px;
    font-size: 24px;
    color: #fff;
    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    top: 40%;
    right: 100%;
    cursor: pointer;
    background: rgba(40, 48, 70, 0.72);
    box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.13);
    .bx {
      font-family: boxicons !important;
      font-weight: 400;
      font-style: normal;
      font-variant: normal;
      line-height: inherit;
      display: inline-block;
      text-transform: none;
      speak: none;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      &.bx-spin {
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
      }
    }
  }
  .switcher-body {
    padding: 1.25rem;
    h5 {
      font-weight: 500;
      color: #fff;
    }
    p {
      color: #fff;
    }
    button {
      background: transparent;
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
    .switcher {
      list-style: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      margin-left: 20px;
      li {
        float: left;
        width: 55px;
        height: 55px;
        margin: 0 15px 15px 0px;
        border-radius: 10px;
        border: 0px solid black;
        &#theme1 {
          background-image: url(../../assets/images/colors/1.png);
          background-size: 100% 100%;
          background-position: center;
          transition: background 0.3s;
        }

        &#theme2 {
          background-image: url(../../assets/images/colors/2.png);
          background-size: 100% 100%;
          background-position: center;
          transition: background 0.3s;
        }

        &#theme3 {
          background-image: url(../../assets/images/colors/3.png);
          background-size: 100% 100%;
          background-position: center;
          transition: background 0.3s;
        }

        &#theme4 {
          background-image: url(../../assets/images/colors/4.png);
          background-size: 100% 100%;
          background-position: center;
          transition: background 0.3s;
        }

        &#theme5 {
          background-image: url(../../assets/images/colors/5.png);
          background-size: 100% 100%;
          background-position: center;
          transition: background 0.3s;
        }

        &#theme6 {
          background-image: url(../../assets/images/colors/6.png);
          background-size: 100% 100%;
          background-position: center;
          transition: background 0.3s;
        }

        &#theme7 {
          background-image: linear-gradient(45deg, #0c675e, #069e90);
          background-size: 100% 100%;
          background-position: center;
          transition: background 0.3s;
        }

        &#theme8 {
          background-image: linear-gradient(
            45deg,
            rgb(0, 242, 96),
            rgb(5, 117, 230)
          );
          background-size: 100% 100%;
          background-position: center;
          transition: background 0.3s;
        }

        &#theme9 {
          background-image: linear-gradient(45deg, #29323c, #485563);
          background-size: 100% 100%;
          background-position: center;
          transition: background 0.3s;
        }

        &#theme10 {
          background-image: linear-gradient(45deg, #795548, #945c48);
          background-size: 100% 100%;
          background-position: center;
          transition: background 0.3s;
        }

        &#theme11 {
          background-image: linear-gradient(45deg, #1565c0, #1e88e5);
          background-size: 100% 100%;
          background-position: center;
          transition: background 0.3s;
        }

        &#theme12 {
          background-image: linear-gradient(45deg, #65379b, #886aea);
          background-size: 100% 100%;
          background-position: center;
          transition: background 0.3s;
        }
      }
    }
  }
}
//*=== theme switcher css ends  ===*//

//?=== page wrapper css start ===?//
.page-wrapper {
  .page-content {
    .card {
      background: #ffffff;
      box-shadow: 0px 1px 11px rgba(51, 73, 167, 0.13);
      .card-body {
        h4 {
          font-weight: 500;
          font-size: 16px;
          color: #000000;
        }
        .card-icon {
          width: 32px;
          height: 32px;
          line-height: 32px;
          display: inline-block;
          background: #ffffff;
          border-radius: 3px;
          text-align: center;
          box-shadow: 0px 1px 15px rgba(51, 73, 167, 0.19);
        }
        p {
          font-weight: 400;
          font-size: 14px;
          line-height: 14px;
          color: #000000;
        }
        p.card-percent {
          font-weight: 300;
          font-size: 12px;
          line-height: 12px;
          color: #575757;
          padding-top: 4px;
        }
        .customers-list {
          position: relative;
          height: 292px;
        }
      }
      &.chart-card {
        .card-header {
          border-bottom: 0;
          background: transparent;
          button {
            background: transparent;
          }
          h6 {
            margin: 0;
            font-weight: 500;
            font-size: 18px;
            line-height: 17px;
            color: #000000;
            padding-bottom: 6px;
            padding-top: 12px;
          }
        }
        .card-body {
          .progress {
            width: 150px;
            height: 150px;
            line-height: 150px;
            background: none;
            margin: 0 auto;
            box-shadow: none;
            position: relative;
            &:after {
              content: "";
              width: 100%;
              height: 100%;
              border-radius: 50%;
              border: 7px solid #eee;
              position: absolute;
              top: 0;
              left: 0;
            }
            > span {
              width: 50%;
              height: 100%;
              overflow: hidden;
              position: absolute;
              top: 0;
              z-index: 1;
            }
            .progress-left {
              left: 0;
            }
            .progress-bar {
              width: 100%;
              height: 100%;
              background: none;
              border-width: 7px;
              border-style: solid;
              position: absolute;
              top: 0;
              border-color: #ffb43e;
            }
            .progress-left .progress-bar {
              left: 100%;
              border-top-right-radius: (150px / 2);
              border-bottom-right-radius: (150px / 2);
              border-left: 0;
              -webkit-transform-origin: center left;
              transform-origin: center left;
            }
            .progress-right {
              right: 0;
              .progress-bar {
                left: -100%;
                border-top-left-radius: (150px / 2);
                border-bottom-left-radius: (150px / 2);
                border-right: 0;
                -webkit-transform-origin: center right;
                transform-origin: center right;
              }
            }
            .progress-value {
              display: flex;
              border-radius: 50%;
              font-size: 36px;
              text-align: center;
              line-height: 20px;
              align-items: center;
              justify-content: center;
              height: 100%;
              width: 100%;
              font-weight: 300;
              div {
                margin-top: 10px;
              }
              span {
                font-size: 12px;
                text-transform: uppercase;
              }
            }
            &.blue {
              .progress-bar {
                border-color: #00ff6a;
              }
            }
            &.yellow {
              .progress-bar {
                border-color: #ffbd07;
              }
            }
            &.black {
              .progress-bar {
                border-color: #000;
              }
            }
          }
          .table-responsive {
            white-space: nowrap;
            table.table {
              tr {
                td,
                th {
                  padding: 1rem 0.5rem;
                }
              }
              thead {
                tr {
                  th {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;
                    color: #000000;
                  }
                }
              }
              tbody {
                tr.last-order {
                  border-bottom: #fff;
                }
                tr {
                  td {
                    h6.font-14 {
                      font-weight: 400;
                      font-size: 14px;
                      line-height: 14px;
                      text-align: center;
                      color: #000000;
                    }
                  }
                }
              }
            }
          }
        }
        .card-footer {
          padding-top: 32px;
          h6 {
            font-weight: 500;
          }
        }
      }
      &.chart-card-one {
        min-height: 350px;
      }
      &.driver-card {
        background: rgba(255, 255, 255, 0.3);
        .card-body {
          padding: 1.5rem 1rem;
          h4 {
            padding-bottom: 4px;
            color: $white-color;
          }
          p {
            color: $white-color;
          }
          span.pr-percent {
            font-weight: 400;
            font-size: 10px;
            line-height: 14px;
            color: #69c6ff;
          }
          span.card-icon {
            width: initial;
            box-shadow: none;
            background: transparent;
          }
        }
      }
      &.diver-chart {
        background: rgba(255, 255, 255, 0.3);
        .card-body {
          .bg-gradient-dark-green {
            border-radius: 6px;
            background: linear-gradient(
              89.64deg,
              #69c6ff 0.16%,
              #00ff6a 99.58%
            );
          }
          h6.chart-titel {
            font-weight: 400;
            color: $white-color;
          }
          p.chart-des {
            color: rgba(155, 217, 255, 1);
          }
        }
      }
    }
  }
}
//?=== page wrapper css edns  ===?//

//*=== footer area css sart ===*//
.page-footer {
  background: rgba(255, 255, 255, 0.12);
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  padding: 7px;
  color: #fff;
  font-size: 14px;
  margin-top: 24px;
  z-index: 3;
  @include breakpoint(xl) {
    left: 250px;
  }
  p {
    margin: 0;
    color: #fff;
  }
}
//*=== footer area css ends  ===*//
