//*=== theme color change option ===*//
body {
  &.bg-theme {
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    transition: background 0.2s;
    &.bg-theme1 {
      background-image: url(../../assets/images/colors/1.png);
    }

    &.bg-theme2 {
      background-image: url(../../assets/images/colors/2.png);
    }

    &.bg-theme3 {
      background-image: url(../../assets/images/colors/3.png);
    }

    &.bg-theme4 {
      background-image: url(../../assets/images/colors/4.png);
    }

    &.bg-theme5 {
      background-image: url(../../assets/images/colors/5.png);
    }

    &.bg-theme6 {
      background-image: url(../../assets/images/colors/6.png);
    }

    &.bg-theme7 {
      background-image: linear-gradient(45deg, #0c675e, #069e90);
    }

    &.bg-theme8 {
      background-image: linear-gradient(
        45deg,
        rgb(0, 242, 96),
        rgb(5, 117, 230)
      );
    }

    &.bg-theme9 {
      background-image: linear-gradient(45deg, #161d31, #090f20);
    }

    &.bg-theme10 {
      background-image: linear-gradient(45deg, #795548, #945c48);
    }

    &.bg-theme11 {
      background-image: linear-gradient(45deg, #1565c0, #1e88e5);
    }

    &.bg-theme12 {
      background-image: linear-gradient(45deg, #65379b, #886aea);
    }
  }
}
//*=== theme color change option ===*//

//*=== theme switcher css start ===*//
.switcher-wrapper {
  width: 280px;
  height: 100%;
  position: fixed;
  right: -280px;
  top: 0;
  bottom: 0;
  z-index: 16;
  background: #111314;
  border-left: 0 solid #d2d2d2;
  box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.13);
  transition: all 0.2s ease-out;
  &.switcher-toggled {
    right: 0;
  }
  .switcher-btn {
    width: 40px;
    height: 40px;
    line-height: 36px;
    font-size: 24px;
    color: #fff;
    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    top: 40%;
    right: 100%;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.13);
    .bx {
      font-family: boxicons !important;
      font-weight: 400;
      font-style: normal;
      font-variant: normal;
      line-height: inherit;
      display: inline-block;
      text-transform: none;
      speak: none;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      &.bx-spin {
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
      }
    }
  }
  .switcher-body {
    padding: 1.25rem;
    h5 {
      font-weight: 500;
      color: #fff;
    }
    p {
      color: #fff;
    }
    button {
      background: transparent;
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
    .switcher {
      list-style: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      margin-left: 20px;
      li {
        float: left;
        width: 55px;
        height: 55px;
        margin: 0 15px 15px 0px;
        border-radius: 10px;
        border: 0px solid black;
        &#theme1 {
          background-image: url(../../assets/images/colors/1.png);
          background-size: 100% 100%;
          background-position: center;
          transition: background 0.3s;
        }

        &#theme2 {
          background-image: url(../../assets/images/colors/2.png);
          background-size: 100% 100%;
          background-position: center;
          transition: background 0.3s;
        }

        &#theme3 {
          background-image: url(../../assets/images/colors/3.png);
          background-size: 100% 100%;
          background-position: center;
          transition: background 0.3s;
        }

        &#theme4 {
          background-image: url(../../assets/images/colors/4.png);
          background-size: 100% 100%;
          background-position: center;
          transition: background 0.3s;
        }

        &#theme5 {
          background-image: url(../../assets/images/colors/5.png);
          background-size: 100% 100%;
          background-position: center;
          transition: background 0.3s;
        }

        &#theme6 {
          background-image: url(../../assets/images/colors/6.png);
          background-size: 100% 100%;
          background-position: center;
          transition: background 0.3s;
        }

        &#theme7 {
          background-image: linear-gradient(45deg, #0c675e, #069e90);
          background-size: 100% 100%;
          background-position: center;
          transition: background 0.3s;
        }

        &#theme8 {
          background-image: linear-gradient(
            45deg,
            rgb(0, 242, 96),
            rgb(5, 117, 230)
          );
          background-size: 100% 100%;
          background-position: center;
          transition: background 0.3s;
        }

        &#theme9 {
          background-image: linear-gradient(45deg, #29323c, #485563);
          background-size: 100% 100%;
          background-position: center;
          transition: background 0.3s;
        }

        &#theme10 {
          background-image: linear-gradient(45deg, #795548, #945c48);
          background-size: 100% 100%;
          background-position: center;
          transition: background 0.3s;
        }

        &#theme11 {
          background-image: linear-gradient(45deg, #1565c0, #1e88e5);
          background-size: 100% 100%;
          background-position: center;
          transition: background 0.3s;
        }

        &#theme12 {
          background-image: linear-gradient(45deg, #65379b, #886aea);
          background-size: 100% 100%;
          background-position: center;
          transition: background 0.3s;
        }
      }
    }
  }
}
//*=== theme switcher css ends  ===*//

//?=== page wrapper css start ===?//
.page-wrapper {
  .page-content {
    .card {
      background: #ffffff;
      box-shadow: 0px 1px 11px rgba(51, 73, 167, 0.13);
      .card-body {
        h4 {
          font-weight: 500;
          font-size: 16px;
          color: #000000;
        }
        .card-icon {
          width: 32px;
          height: 32px;
          line-height: 32px;
          display: inline-block;
          background: #ffffff;
          border-radius: 3px;
          text-align: center;
          box-shadow: 0px 1px 15px rgba(51, 73, 167, 0.19);
        }
        p {
          font-weight: 400;
          font-size: 14px;
          line-height: 14px;
          color: #000000;
        }
        p.card-percent {
          font-weight: 300;
          font-size: 12px;
          line-height: 12px;
          color: #575757;
          padding-top: 4px;
        }
      }
      &.chart-card {
        .card-header {
          border-bottom: 0;
          background: transparent;
          button {
            background: transparent;
          }
        }
      }
    }
  }
}
//?=== page wrapper css edns  ===?//

//*=== footer area css sart ===*//
.page-footer {
  background: rgba(255, 255, 255, 0.12);
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  padding: 7px;
  color: #fff;
  font-size: 14px;
  margin-top: 24px;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  z-index: 3;
  @include breakpoint(xl) {
    left: 250px;
  }
  p {
    margin: 0;
    color: #fff;
  }
}
//*=== footer area css ends  ===*//
