//*=== theme color change option ===*//
body {
  &.bg-theme {
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    transition: background 0.2s;
    &.bg-theme1 {
      background-image: url(../../assets/images/colors/1.webp);
    }

    &.bg-theme2 {
      background-image: url(../../assets/images/colors/2.webp);
    }

    &.bg-theme3 {
      background-image: url(../../assets/images/colors/3.webp);
    }

    &.bg-theme4 {
      background-image: url(../../assets/images/colors/4.webp);
    }

    &.bg-theme5 {
      background-image: url(../../assets/images/colors/5.webp);
    }

    &.bg-theme6 {
      background-image: url(../../assets/images/colors/6.webp);
    }

    &.bg-theme7 {
      background-image: linear-gradient(45deg, #0c675e, #069e90);
    }

    &.bg-theme8 {
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(9, 120, 188, 0.8) 52.08%,
        rgba(0, 0, 0, 0.8) 100%
      );
    }

    &.bg-theme9 {
      background-image: linear-gradient(45deg, #161d31, #090f20);
    }

    &.bg-theme10 {
      background-image: linear-gradient(45deg, #795548, #945c48);
    }

    &.bg-theme11 {
      background-image: linear-gradient(45deg, #1565c0, #1e88e5);
    }

    &.bg-theme12 {
      background-image: linear-gradient(45deg, #65379b, #886aea);
    }
  }
}
//*=== theme color change option ===*//

//*=== theme switcher css start ===*//
.switcher-wrapper {
  width: 280px;
  height: 100%;
  position: fixed;
  right: -280px;
  top: 0;
  bottom: 0;
  z-index: 16;
  background: #111314;
  border-left: 0 solid #d2d2d2;
  box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.13);
  transition: all 0.2s ease-out;
  &.switcher-toggled {
    right: 0;
  }
  .switcher-btn {
    width: 40px;
    height: 40px;
    line-height: 36px;
    font-size: 24px;
    color: #fff;
    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    top: 40%;
    right: 100%;
    cursor: pointer;
    background: rgba(40, 48, 70, 0.72);
    box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.13);
    .bx {
      font-family: boxicons !important;
      font-weight: 400;
      font-style: normal;
      font-variant: normal;
      line-height: inherit;
      display: inline-block;
      text-transform: none;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      &.bx-spin {
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
      }
    }
  }
  .switcher-body {
    padding: 1.25rem;
    h5 {
      font-weight: 500;
      color: #fff;
    }
    p {
      color: #fff;
    }
    button {
      background: transparent;
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
    .switcher {
      list-style: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      margin-left: 20px;
      li {
        float: left;
        width: 55px;
        height: 55px;
        margin: 0 15px 15px 0px;
        border-radius: 10px;
        border: 0px solid black;
        &#theme1 {
          background-image: url(../../assets/images/colors/1.webp);
          background-size: 100% 100%;
          background-position: center;
          transition: background 0.3s;
        }

        &#theme2 {
          background-image: url(../../assets/images/colors/2.webp);
          background-size: 100% 100%;
          background-position: center;
          transition: background 0.3s;
        }

        &#theme3 {
          background-image: url(../../assets/images/colors/3.webp);
          background-size: 100% 100%;
          background-position: center;
          transition: background 0.3s;
        }

        &#theme4 {
          background-image: url(../../assets/images/colors/4.webp);
          background-size: 100% 100%;
          background-position: center;
          transition: background 0.3s;
        }

        &#theme5 {
          background-image: url(../../assets/images/colors/5.webp);
          background-size: 100% 100%;
          background-position: center;
          transition: background 0.3s;
        }

        &#theme6 {
          background-image: url(../../assets/images/colors/6.webp);
          background-size: 100% 100%;
          background-position: center;
          transition: background 0.3s;
        }

        &#theme7 {
          background-image: linear-gradient(45deg, #0c675e, #069e90);
          background-size: 100% 100%;
          background-position: center;
          transition: background 0.3s;
        }

        &#theme8 {
          background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.8) 0%,
            rgba(9, 120, 188, 0.8) 52.08%,
            rgba(0, 0, 0, 0.8) 100%
          );
          background-size: 100% 100%;
          background-position: center;
          transition: background 0.3s;
        }

        &#theme9 {
          background-image: linear-gradient(45deg, #29323c, #485563);
          background-size: 100% 100%;
          background-position: center;
          transition: background 0.3s;
        }

        &#theme10 {
          background-image: linear-gradient(45deg, #795548, #945c48);
          background-size: 100% 100%;
          background-position: center;
          transition: background 0.3s;
        }

        &#theme11 {
          background-image: linear-gradient(45deg, #1565c0, #1e88e5);
          background-size: 100% 100%;
          background-position: center;
          transition: background 0.3s;
        }

        &#theme12 {
          background-image: linear-gradient(45deg, #65379b, #886aea);
          background-size: 100% 100%;
          background-position: center;
          transition: background 0.3s;
        }
      }
    }
  }
}
//*=== theme switcher css ends  ===*//

//?=== page wrapper css start ===?//
.page-wrapper {
  .page-content {
    .card {
      background: #ffffff;
      box-shadow: 0px 1px 11px rgba(51, 73, 167, 0.13);
      .card-body {
        h4 {
          font-weight: 500;
          font-size: 16px;
          color: #000000;
        }
        .card-icon {
          width: 32px;
          height: 32px;
          line-height: 32px;
          display: inline-block;
          background: #ffffff;
          border-radius: 3px;
          text-align: center;
          box-shadow: 0px 1px 15px rgba(51, 73, 167, 0.19);
        }
        p {
          font-weight: 400;
          font-size: 14px;
          line-height: 14px;
          color: #000000;
        }
        p.card-percent {
          font-weight: 300;
          font-size: 12px;
          line-height: 12px;
          color: #575757;
          padding-top: 4px;
        }
        .customers-list {
          position: relative;
          height: 292px;
        }
      }
      &.chart-card {
        .card-header {
          border-bottom: 0;
          background: transparent;
          button {
            background: transparent;
          }
          h6 {
            margin: 0;
            font-weight: 500;
            font-size: 18px;
            line-height: 17px;
            color: #000000;
            padding-bottom: 6px;
            padding-top: 12px;
          }
        }
        .card-body {
          .progress {
            width: 150px;
            height: 150px;
            line-height: 150px;
            background: none;
            margin: 0 auto;
            box-shadow: none;
            position: relative;
            &:after {
              content: "";
              width: 100%;
              height: 100%;
              border-radius: 50%;
              border: 7px solid #eee;
              position: absolute;
              top: 0;
              left: 0;
            }
            > span {
              width: 50%;
              height: 100%;
              overflow: hidden;
              position: absolute;
              top: 0;
              z-index: 1;
            }
            .progress-left {
              left: 0;
            }
            .progress-bar {
              width: 100%;
              height: 100%;
              background: none;
              border-width: 7px;
              border-style: solid;
              position: absolute;
              top: 0;
              border-color: #ffb43e;
            }
            .progress-left .progress-bar {
              left: 100%;
              border-top-right-radius: calc(150px / 2);
              border-bottom-right-radius: calc(150px / 2);
              border-left: 0;
              -webkit-transform-origin: center left;
              transform-origin: center left;
            }
            .progress-right {
              right: 0;
              .progress-bar {
                left: -100%;
                border-top-left-radius: (150px / 2);
                border-bottom-left-radius: (150px / 2);
                border-right: 0;
                -webkit-transform-origin: center right;
                transform-origin: center right;
              }
            }
            .progress-value {
              display: flex;
              border-radius: 50%;
              font-size: 36px;
              text-align: center;
              line-height: 20px;
              align-items: center;
              justify-content: center;
              height: 100%;
              width: 100%;
              font-weight: 300;
              div {
                margin-top: 10px;
              }
              span {
                font-size: 12px;
                text-transform: uppercase;
              }
            }
            &.blue {
              .progress-bar {
                border-color: #00ff6a;
              }
            }
            &.yellow {
              .progress-bar {
                border-color: #ffbd07;
              }
            }
            &.black {
              .progress-bar {
                border-color: #000;
              }
            }
          }
          .table-responsive {
            white-space: nowrap;
            table.table {
              tr {
                td,
                th {
                  padding: 1rem 0.5rem;
                }
              }
              thead {
                tr {
                  th {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;
                    color: #000000;
                  }
                }
              }
              tbody {
                tr.last-order {
                  border-bottom: #fff;
                }
                tr {
                  td {
                    h6.font-14 {
                      font-weight: 400;
                      font-size: 14px;
                      line-height: 14px;
                      text-align: center;
                      color: #000000;
                    }
                  }
                }
              }
            }
          }
        }
        .card-footer {
          padding-top: 32px;
          h6 {
            font-weight: 500;
          }
        }
      }
      &.chart-card-one {
        min-height: 350px;
        &.chart-card-two {
          min-height: 366px;
          .card-body {
            .driver-reg {
              .reg-thumb {
                margin: 0 auto;
                text-align: center;
                position: relative;
                max-width: 250px;
                &:hover {
                  img {
                    filter: grayscale(100%);
                  }
                }
                img {
                  margin: 0 auto;
                  transition: all 0.3s ease-in-out;
                }
                .reg-count {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  text-align: center;
                  transform: translate(-50%, -50%);
                  h3 {
                    margin: 0;
                    font-weight: 500;
                    font-size: 29px;
                    color: #ffffff;
                  }
                  p {
                    margin: 0;
                    font-weight: 400;
                    font-size: 24px;
                    color: #ffffff;
                  }
                }
              }
            }
          }
        }
      }
      &.driver-card {
        background: rgba(255, 255, 255, 0.3);
        .card-body {
          padding: 1.5rem 1rem;
          h4 {
            padding-bottom: 4px;
            color: $white-color;
          }
          p {
            color: $white-color;
          }
          span.pr-percent {
            font-weight: 400;
            font-size: 10px;
            line-height: 14px;
            color: #69c6ff;
          }
          span.card-icon {
            width: initial;
            box-shadow: none;
            background: transparent;
          }
        }
      }
      &.diver-chart {
        background: rgba(255, 255, 255, 0.3);
        .card-header {
          .table-heading {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            padding: 16px 0 12px;
            justify-content: space-between;
            .Filter-table {
              display: flex;
              align-items: center;
              .search-invoice,
              .select-invoice {
                display: flex;
                align-items: center;
                padding-right: 12px;
                span {
                  font-size: 14px;
                  color: $white-color;
                  margin-right: 12px;
                  display: inline-block;
                }
                input,
                select {
                  height: 36px;
                  padding: 10px;
                  font-size: 14px;
                  border-radius: 6px;
                  &:focus {
                    outline: 0;
                    border: 0;
                    box-shadow: none;
                  }
                  &::placeholder {
                    font-size: 14px;
                  }
                }
              }
            }
          }
        }
        .card-body {
          .bg-gradient-dark-green {
            border-radius: 6px;
            background: linear-gradient(
              89.64deg,
              #69c6ff 0.16%,
              #00ff6a 99.58%
            );
          }
          h6.chart-titel {
            font-weight: 400;
            color: $white-color;
          }
          p.chart-des {
            color: rgba(155, 217, 255, 1);
          }
          .table-responsive {
            table {
              color: #ffff;
              th,
              td {
                color: $white-color !important;
              }
              tbody {
                tr {
                  td {
                    h6.font-14 {
                      color: $white-color !important;
                    }
                    .dropdown {
                      a.dropdown-toggle {
                        color: $white-color;
                      }
                    }
                  }
                }
              }
            }
          }
          .table-pagination {
            ul.pagination {
              margin-top: 1.5rem;
              margin-bottom: 0.5rem;
              justify-content: flex-end;
              li.page-item {
                border-radius: 5rem;
                &:last-child {
                  a.page-link {
                    border-radius: 0 25px 25px 0;
                  }
                }
                &.active {
                  a.page-link {
                    color: #000;
                    background: #fff;
                  }
                }
                a.page-link {
                  border: 0;
                  color: #b4b7bd;
                  display: inline-flex;
                  background-color: #242b3d;
                  &:focus {
                    border: 0;
                    outline: 0;
                    box-shadow: none;
                  }
                }
              }
            }
          }
          .bar-item {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin-bottom: 12px;
            .title {
              color: #fff;
              font-size: 14px;
              width: 100%;
              padding-bottom: 12px;
              @include breakpoint(sm) {
                width: calc(100% - 80%);
                padding-bottom: 0;
              }
            }
            .bar {
              width: 90%;
              height: 10px;
              background: #fff;
              border-radius: 5px;
              position: relative;
              transition: all 2s linear;
              @include breakpoint(sm) {
                width: 70%;
              }
              .bar-inner {
                width: 0;
                height: 10px;
                line-height: 10px;
                border-radius: 5px;
                transform: scaleX(0);
                transform-origin: left;
                background: linear-gradient(90deg, #c8102e 0%, #ffbd07 100%);
                animation: animate 0.5s 0.5s cubic-bezier(1, 0, 0.5, 1) forwards;
              }
              .bar-percent {
                position: absolute;
                right: -32px;
                top: -3px;
                color: #fff;
                font-size: 12px;
                @include breakpoint(sm) {
                  right: -40px;
                }
              }
            }
          }
        }
        &.create-driver {
          .card-header {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            h4 {
              margin: 0;
              font-weight: 500;
              font-size: 24px;
              color: $white-color;
            }
            button.settings-btn {
              font-size: 14px;
              color: $white-color;
              padding: 6px 16px;
              border-radius: 6px;
              background: deepskyblue;
            }
          }
          .card-body {
            form.create-form {
              padding: 20px;
              @include breakpoint(md) {
                padding: 30px;
              }
              .group-title {
                padding-bottom: 16px;
                h5 {
                  margin: 0;
                  font-size: 18px;
                  font-weight: 400;
                  color: $white-color;
                }
                &.style-one {
                  margin-top: 24px;
                  padding-top: 12px;
                  border-top: 1px solid $white-color;
                }
              }
              .input-group {
                display: block;
                label {
                  margin: 0;
                  font-size: 15px;
                  margin-top: 12px;
                  display: inline-block;
                  color: $white-color;
                  margin-bottom: 6px;
                  text-transform: capitalize;
                }
                input.form-control {
                  width: 100%;
                  height: 36px;
                  font-size: 14px;
                  border-radius: 4px;
                  &::placeholder {
                    font-size: 14px;
                  }
                  &:focus {
                    border: 0;
                    outline: none;
                    box-shadow: none;
                  }
                }
                textarea {
                  width: 100%;
                  height: 80px;
                  font-size: 14px;
                  border-radius: 4px;
                  padding: 12px;
                }
              }
            }
            .diver-submit {
              text-align: right;
              button.subBtn {
                font-size: 14px;
                margin-top: 32px;
                padding: 6px 34px;
                border-radius: 6px;
                color: $white-color;
                background: #1e88e5;
              }
            }
          }
        }
      }
    }
  }
}
//?=== page wrapper css edns  ===?//

//*=== footer area css sart ===*//
.page-footer {
  background: rgba(255, 255, 255, 0.12);
  // background: rgba(40, 70, 70, 1);
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  padding: 7px;
  color: #fff;
  font-size: 14px;
  margin-top: 24px;
  z-index: 3;
  @include breakpoint(xl) {
    left: 250px;
  }
  p {
    margin: 0;
    color: #fff;
  }
}
//*=== footer area css ends  ===*//

//? login area css sart ===?//
.login-content {
  .page-header {
    padding: 0;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: 50%;
    .mask {
      position: absolute;
      background-position: 50%;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.8;
      &.bg-gradient-dark {
        background-image: linear-gradient(195deg, #42424a, #191919);
      }
      &.opacity-6 {
        opacity: 0.6 !important;
      }
    }
    .card {
      border-radius: 10px;
      &.fadeInBottom {
        animation-name: h;
      }
      .card-header {
        border-bottom: 0;
        margin-top: -24px;
        .bg-gradient-primary {
          background-image: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.8) 6%,
            rgba(9, 120, 188, 0.8) 52.08%,
            rgba(0, 0, 0, 0.8) 100%
          );
        }
        .border-radius-lg {
          border-radius: 0.5rem;
        }
        .shadow-primary {
          box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
            0 7px 10px -5px rgba(9, 120, 188, 0.5);
        }
      }
      .card-body {
        form {
          .input-group {
            display: block;
            position: relative;
            input.form-control {
              width: 100%;
              border-radius: 6px !important;
              &:focus {
                outline: none;
                box-shadow: none;
                border-color: $theme-color;
              }
            }
            label.form-label {
              position: absolute;
              top: 50%;
              left: 10px;
              margin: 0;
              z-index: 1;
              font-size: 13px;
              transform: translateY(-50%);
            }
          }
          .form-switch {
            .form-check-input {
              position: relative;
              background-color: #ced4da;
              height: 0.9375rem;
              width: 1.875rem;
              border: 0;
              &:focus {
                box-shadow: none;
                border: 0;
              }
              &:checked:after {
                transform: translateX(21px);
                border-color: #42424a;
              }
              &:after {
                transition: transform 0.25s ease-in-out,
                  background-color 0.25s ease-in-out;
                content: "";
                width: 1.25rem;
                height: 1.25rem;
                border-radius: 50%;
                border: 1px solid #ced4da;
                position: absolute;
                background-color: #fff;
                transform: translateX(1px);
                box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
                  0 2px 4px -1px rgba(0, 0, 0, 0.6);
                top: -3.5px;
                left: -5px;
              }
            }
          }
          .btn-primary:hover,
          .btn.bg-gradient-primary:hover {
            background-color: #0978bccc;
            border-color: #0978bccc;
            box-shadow: 0 14px 26px -12px rgba(233, 30, 99, 0.4),
              0 4px 23px 0 rgba(233, 30, 99, 0.15),
              0 8px 10px -5px rgba(233, 30, 99, 0.2);
          }
          button.bg-gradient-primary {
            color: $white-color;
            background: #0978bccc;
            &:focus {
              box-shadow: none;
            }
          }
          a.text-gradient {
            color: #0978bccc;
            text-decoration: none;
          }
        }
      }
    }
  }
}
//? login area css ends ===?//

//?=== loading content css start ===?//
.loading-content {
  height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(9, 120, 188, 0.8) 52.08%,
    rgba(0, 0, 0, 0.8) 100%
  );
  .content-thumb {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    img {
    }
  }
}
//?=== loading content css ends  ===?//
