* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
}

body {
  position: relative;
}

body,
button,
input,
select,
textarea {
  color: #716c80;
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  outline: none;
  border: none;
}

body input::-webkit-inner-spin-button,
body input::-webkit-outer-spin-button,
button input::-webkit-inner-spin-button,
button input::-webkit-outer-spin-button,
input input::-webkit-inner-spin-button,
input input::-webkit-outer-spin-button,
select input::-webkit-inner-spin-button,
select input::-webkit-outer-spin-button,
textarea input::-webkit-inner-spin-button,
textarea input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1f202a;
  font-weight: 700;
  font-family: "Rubik", sans-serif;
  line-height: 1.5;
  text-transform: capitalize;
}

h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  color: inherit;
  font-size: inherit;
  font-weight: 700;
  font-family: "Rubik", sans-serif;
}

@media screen and (min-width: 576px) {
  h1 {
    font-size: 100px;
  }
  h2 {
    font-size: 60px;
  }
  h3 {
    font-size: 25px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 18px;
  }
  h6 {
    font-size: 16px;
  }
}

p {
  font-size: 15px;
  margin: 0 0 15px;
  color: #1f202a;
  line-height: 1.5;
  font-family: "Rubik", sans-serif;
}

span {
  font-family: "Rubik", sans-serif;
  font-size: 15px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: #716c80;
  text-decoration: none;
  display: inline-block;
  outline: none;
  font-family: "Rubik", sans-serif;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

a:hover {
  text-decoration: none;
}

a:focus {
  outline: none;
}

a:hover,
a:active {
  color: #000;
  outline: 0;
}

img,
video {
  height: auto;
  max-width: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@-webkit-keyframes animdropdown {
  from {
    -webkit-transform: translate3d(0, 6px, 0);
    transform: translate3d(0, 6px, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes animdropdown {
  from {
    -webkit-transform: translate3d(0, 6px, 0);
    transform: translate3d(0, 6px, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@-webkit-keyframes loading-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

@keyframes loading-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

@-webkit-keyframes loading-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(144deg);
    transform: rotate(144deg);
  }
}

@keyframes loading-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(144deg);
    transform: rotate(144deg);
  }
}

@-webkit-keyframes loading-3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
}

@keyframes loading-3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
}

@-webkit-keyframes animate {
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes animate {
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

.wrapper {
  width: 100%;
  position: relative;
}

.wrapper.toggled .sidebar-wrapper {
  left: 0;
}

.wrapper.toggled .page-wrapper {
  padding-left: 70px;
}

.wrapper.toggled .page-footer {
  left: 0;
}

.wrapper.toggled .topbar {
  left: 70px;
}

@media (max-width: 1199px) {
  .wrapper.toggled .overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
    opacity: 0.6;
    z-index: 10;
    display: block;
    cursor: move;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
}

.wrapper.toggled.sidebar-hovered .sidebar-wrapper {
  background: #171717;
}

.wrapper.toggled.sidebar-hovered .sidebar-wrapper .sidebar-header {
  background: #171717;
}

@media (min-width: 1200px) {
  .wrapper.toggled:not(.sidebar-hovered) .sidebar-wrapper {
    width: 70px;
  }
  .wrapper.toggled:not(.sidebar-hovered) .sidebar-wrapper .sidebar-header {
    width: 70px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .wrapper.toggled:not(.sidebar-hovered) .sidebar-wrapper .sidebar-header .logo-text {
    display: none;
  }
  .wrapper.toggled:not(.sidebar-hovered) .sidebar-wrapper .sidebar-header .toggle-icon {
    display: none;
  }
  .wrapper.toggled:not(.sidebar-hovered) .sidebar-wrapper .metismenu li.menu-label {
    display: none;
  }
  .wrapper.toggled:not(.sidebar-hovered) .sidebar-wrapper .metismenu li ul {
    display: none;
  }
  .wrapper.toggled:not(.sidebar-hovered) .sidebar-wrapper .metismenu a {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .wrapper.toggled:not(.sidebar-hovered) .sidebar-wrapper .metismenu .has-arrow::after {
    content: none;
  }
  .wrapper.toggled:not(.sidebar-hovered) .sidebar-wrapper .metismenu .menu-title {
    display: none;
  }
}

.wrapper .sidebar-wrapper {
  width: 250px;
  height: calc(100% - 60px);
  position: fixed;
  top: 60px;
  bottom: 0;
  left: -300px;
  background: #283046;
  z-index: 11;
  -webkit-box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, 0.12) !important;
          box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, 0.12) !important;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

@media (min-width: 1200px) {
  .wrapper .sidebar-wrapper {
    left: 0;
  }
}

.wrapper .sidebar-wrapper .sidebar-header {
  width: 250px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  padding: 0 15px;
  z-index: 5;
  background: #283046;
}

.wrapper .sidebar-wrapper .sidebar-header .logo-icon {
  width: 40px;
}

.wrapper .sidebar-wrapper .sidebar-header .toggle-icon {
  font-size: 22px;
  cursor: pointer;
  color: #ffffff;
}

.wrapper .sidebar-wrapper .sidebar-header .logo-text {
  font-size: 22px;
  margin-left: 10px;
  margin-bottom: 0;
  font-weight: 400;
  letter-spacing: 1px;
  color: #ffffff;
}

.wrapper .sidebar-wrapper .metismenu {
  background: 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  margin-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.wrapper .sidebar-wrapper .metismenu li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}

.wrapper .sidebar-wrapper .metismenu li:first-child {
  margin-top: 12px;
}

.wrapper .sidebar-wrapper .metismenu li a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding: 8px 15px;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.75);
  outline-width: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  letter-spacing: 0.5px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.wrapper .sidebar-wrapper .metismenu li a .parent-icon {
  font-size: 24px;
  line-height: 1;
}

.wrapper .sidebar-wrapper .metismenu li a .menu-title {
  margin-left: 10px;
}

.wrapper .sidebar-wrapper .metismenu li.menu-label {
  padding: 20px 15px 5px 5px;
  color: #b0afaf;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.5px;
}

.wrapper .sidebar-wrapper .metismenu .has-arrow:after {
  position: absolute;
  content: "";
  width: 0.5em;
  height: 0.5em;
  border-style: solid;
  border-width: 1.2px 0 0 1.2px;
  border-color: initial;
  right: 15px;
  -webkit-transform: rotate(-135deg) translateY(-50%);
          transform: rotate(-135deg) translateY(-50%);
  -webkit-transform-origin: top;
          transform-origin: top;
  top: 50%;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.wrapper .sidebar-wrapper .metismenu .has-arrow.collapsed.has-arrow::after {
  -webkit-transform: rotate(-45deg) translateY(-50%);
          transform: rotate(-45deg) translateY(-50%);
}

.wrapper .sidebar-wrapper .metismenu .mm-active > a {
  color: #ffffff;
  text-decoration: none;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.15);
}

.wrapper .sidebar-wrapper .metismenu ul li {
  margin-top: 5px;
}

.wrapper .sidebar-wrapper .metismenu ul a {
  padding: 6px 15px 6px 15px;
  font-size: 15px;
  border: 0;
}

.wrapper .sidebar-wrapper .metismenu ul a svg {
  margin-right: 8px;
}

.wrapper .sidebar-wrapper ul {
  padding: 0;
  margin: 0;
  list-style: none;
  background: 0 0;
}

.wrapper .page-wrapper {
  height: 100%;
  padding-top: 76px;
  padding-bottom: 0px;
  padding-left: 0;
}

@media (min-width: 1200px) {
  .wrapper .page-wrapper {
    padding-left: 250px;
  }
}

.wrapper .page-wrapper .page-content {
  padding: 1.5rem 1rem 0 1rem;
}

.wrapper .page-wrapper.style-one {
  height: 100vh;
}

header .topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  height: 60px;
  background: #283046;
  z-index: 10;
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.8) !important;
          box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.8) !important;
}

@media (min-width: 1200px) {
  header .topbar {
    left: 250px;
    margin: 16px;
    border-radius: 6px;
  }
}

header .topbar .navbar {
  width: 100%;
  height: 60px;
  padding-left: 30px;
  padding-right: 30px;
}

header .topbar .navbar .mobile-toggle-menu {
  display: block;
  font-size: 26px;
  color: #fff;
  cursor: pointer;
}

@media (min-width: 1200px) {
  header .topbar .navbar .mobile-toggle-menu {
    display: none;
  }
}

header .topbar .navbar .search-bar {
  display: none;
}

@media (min-width: 1200px) {
  header .topbar .navbar .search-bar {
    display: block;
  }
}

header .topbar .navbar .search-bar.full-search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 100;
  background: rgba(11, 12, 15, 0.8);
  height: 60px;
  padding: 0 1.4rem;
}

header .topbar .navbar .search-bar .search-bar-box {
  width: 100%;
}

@media (min-width: 1200px) {
  header .topbar .navbar .search-bar .search-bar-box {
    width: 75%;
  }
}

header .topbar .navbar .search-bar .search-bar-box .search-control {
  color: #fff;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(242, 239, 239, 0.15);
  padding-left: 2.5rem;
}

@media (min-width: 1200px) {
  header .topbar .navbar .search-bar .search-bar-box .search-control {
    padding-right: 2.5rem;
    padding-left: 10px;
    background-color: rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.15);
  }
}

header .topbar .navbar .search-bar .search-bar-box .search-control::-webkit-input-placeholder {
  font-size: 14px;
}

header .topbar .navbar .search-bar .search-bar-box .search-control:-ms-input-placeholder {
  font-size: 14px;
}

header .topbar .navbar .search-bar .search-bar-box .search-control::-ms-input-placeholder {
  font-size: 14px;
}

header .topbar .navbar .search-bar .search-bar-box .search-control::placeholder {
  font-size: 14px;
}

header .topbar .navbar .search-bar .search-bar-box .search-control:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

header .topbar .navbar .search-bar .search-bar-box .search-show {
  font-size: 18px;
  right: 15px;
  color: #ffffff;
}

@media (max-width: 1199px) {
  header .topbar .navbar .search-bar .search-bar-box .search-show {
    left: 15px;
    right: auto;
  }
}

header .topbar .navbar .search-bar .search-bar-box .search-close {
  font-size: 18px;
  right: 15px;
  cursor: pointer;
  display: block;
}

@media (min-width: 1200px) {
  header .topbar .navbar .search-bar .search-bar-box .search-close {
    display: none;
  }
}

@media (min-width: 1200px) {
  header .topbar .navbar .top-menu ul.navbar-nav .mobile-search-icon {
    display: none;
  }
}

header .topbar .navbar .top-menu ul.navbar-nav .nav-item.dropdown-large {
  position: relative;
}

header .topbar .navbar .top-menu ul.navbar-nav .nav-item.dropdown-large .dropdown-menu {
  width: 360px;
  border: 0;
  padding: 0 0;
  border-radius: 6px;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

header .topbar .navbar .top-menu ul.navbar-nav .nav-item.dropdown-large .dropdown-menu a {
  display: block;
}

header .topbar .navbar .top-menu ul.navbar-nav .nav-item.dropdown-large .dropdown-menu .msg-header {
  padding: 0.8rem 1rem;
  background-clip: border-box;
  background: #1e1e1e;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-bottom: 1px solid rgba(237, 237, 237, 0.2);
}

header .topbar .navbar .top-menu ul.navbar-nav .nav-item.dropdown-large .dropdown-menu .msg-header .msg-header-title {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.85);
  margin-bottom: 0;
  font-weight: 500;
}

header .topbar .navbar .top-menu ul.navbar-nav .nav-item.dropdown-large .dropdown-menu .msg-header .msg-header-clear {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.85);
  margin-bottom: 0;
}

header .topbar .navbar .top-menu ul.navbar-nav .nav-item.dropdown-large .dropdown-menu .header-notifications-list {
  position: relative;
  height: 360px;
}

header .topbar .navbar .top-menu ul.navbar-nav .nav-item.dropdown-large .dropdown-menu .header-message-list {
  position: relative;
  height: 360px;
}

header .topbar .navbar .top-menu ul.navbar-nav .nav-item.dropdown-large .dropdown-menu .dropdown-item {
  padding: 0.5rem 1.3rem;
  border-bottom: 1px solid rgba(66, 66, 66, 0.15);
}

header .topbar .navbar .top-menu ul.navbar-nav .nav-item.dropdown-large .dropdown-menu::after {
  content: none;
  width: 13px;
  height: 13px;
  background: #1e1e1e;
  position: absolute;
  top: -6px;
  right: 16px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-top: 1px solid #767676;
  border-left: 1px solid #767676;
}

@media (min-width: 576px) {
  header .topbar .navbar .top-menu ul.navbar-nav .nav-item.dropdown-large .dropdown-menu::after {
    content: "";
  }
}

header .topbar .navbar .top-menu ul.navbar-nav .nav-item.dropdown-large .notify {
  width: 45px;
  height: 45px;
  line-height: 45px;
  font-size: 22px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.15);
  margin-right: 15px;
}

header .topbar .navbar .top-menu ul.navbar-nav .nav-item.dropdown-large .msg-header {
  padding: 0.8rem 1rem;
  border-bottom: 1px solid rgba(237, 237, 237, 0.2);
  background-clip: border-box;
  background: #1e1e1e;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

header .topbar .navbar .top-menu ul.navbar-nav .nav-item.dropdown-large .msg-name {
  font-size: 14px;
  margin-bottom: 0;
  color: #383838;
}

header .topbar .navbar .top-menu ul.navbar-nav .nav-item.dropdown-large .msg-info {
  font-size: 13px;
  margin-bottom: 0;
  color: #303030b8;
}

header .topbar .navbar .top-menu ul.navbar-nav .nav-item.dropdown-large .user-online {
  position: relative;
}

header .topbar .navbar .top-menu ul.navbar-nav .nav-item.dropdown-large .user-online:after {
  content: none;
  position: absolute;
  bottom: 1px;
  right: 17px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 2px #fff;
          box-shadow: 0 0 0 2px #fff;
  background: #16e15e;
}

@media (min-width: 576px) {
  header .topbar .navbar .top-menu ul.navbar-nav .nav-item.dropdown-large .user-online:after {
    content: "";
  }
}

header .topbar .navbar .top-menu ul.navbar-nav .nav-item.dropdown-large .msg-avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 15px;
}

header .topbar .navbar .top-menu ul.navbar-nav .nav-item.dropdown-large .msg-footer {
  padding: 0.8rem 1rem;
  color: rgba(255, 255, 255, 0.85);
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  background-clip: border-box;
  background: 0 0;
  font-size: 14px;
  font-weight: 500;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  background: #171717;
}

header .topbar .navbar .top-menu ul.navbar-nav .nav-item.dropdown-large .msg-time {
  font-size: 12px;
  margin-bottom: 0;
  color: rgba(59, 58, 58, 0.5);
}

header .topbar .navbar .top-menu ul.navbar-nav .nav-link {
  padding-right: 0.8rem;
  padding-left: 0.8rem;
  color: #ffffff;
  font-size: 22px;
}

header .topbar .navbar .top-menu ul.navbar-nav .nav-link .alert-count {
  position: absolute;
  top: 5px;
  left: 22px;
  width: 18px;
  height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  background: #f62718;
}

header .topbar .navbar .top-menu ul.navbar-nav .nav-link.dropdown-toggle::after {
  content: none;
}

header .topbar .navbar .user-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  margin-left: 1rem;
  border-left: 1px solid rgba(255, 255, 255, 0.15);
}

header .topbar .navbar .user-box .dropdown-toggle::after {
  content: none;
}

header .topbar .navbar .user-box .dropdown-menu span {
  vertical-align: middle;
  margin-right: 10px;
}

header .topbar .navbar .user-box .dropdown-menu::after {
  content: none;
  width: 13px;
  height: 13px;
  background: #fdfdfd;
  position: absolute;
  top: -6px;
  right: 16px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-top: 1px solid #767676;
  border-left: 1px solid #767676;
}

@media (min-width: 576px) {
  header .topbar .navbar .user-box .dropdown-menu::after {
    content: "";
  }
}

header .topbar .navbar .user-box .user-img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 0 solid #e5e5e5;
  padding: 0;
}

header .topbar .navbar .user-box .user-info {
  display: none;
}

@media (min-width: 768px) {
  header .topbar .navbar .user-box .user-info {
    display: block;
  }
}

header .topbar .navbar .user-box .user-info .user-name {
  font-size: 15px;
  font-weight: 500;
  color: #fff;
}

header .topbar .navbar .user-box .user-info .designattion {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.64);
}

@media (max-width: 575px) {
  header .topbar .navbar .dropdown {
    position: static !important;
  }
}

header .topbar .navbar .dropdown-menu {
  -webkit-animation: 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s normal forwards 1 animdropdown;
  animation: 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s normal forwards 1 animdropdown;
}

@media (max-width: 575px) {
  header .topbar .navbar .dropdown-menu {
    width: 100% !important;
  }
}

body.bg-theme {
  background-size: 100% 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}

body.bg-theme.bg-theme1 {
  background-image: url(../../assets/images/colors/1.webp);
}

body.bg-theme.bg-theme2 {
  background-image: url(../../assets/images/colors/2.webp);
}

body.bg-theme.bg-theme3 {
  background-image: url(../../assets/images/colors/3.webp);
}

body.bg-theme.bg-theme4 {
  background-image: url(../../assets/images/colors/4.webp);
}

body.bg-theme.bg-theme5 {
  background-image: url(../../assets/images/colors/5.webp);
}

body.bg-theme.bg-theme6 {
  background-image: url(../../assets/images/colors/6.webp);
}

body.bg-theme.bg-theme7 {
  background-image: linear-gradient(45deg, #0c675e, #069e90);
}

body.bg-theme.bg-theme8 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), color-stop(52.08%, rgba(9, 120, 188, 0.8)), to(rgba(0, 0, 0, 0.8)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(9, 120, 188, 0.8) 52.08%, rgba(0, 0, 0, 0.8) 100%);
}

body.bg-theme.bg-theme9 {
  background-image: linear-gradient(45deg, #161d31, #090f20);
}

body.bg-theme.bg-theme10 {
  background-image: linear-gradient(45deg, #795548, #945c48);
}

body.bg-theme.bg-theme11 {
  background-image: linear-gradient(45deg, #1565c0, #1e88e5);
}

body.bg-theme.bg-theme12 {
  background-image: linear-gradient(45deg, #65379b, #886aea);
}

.switcher-wrapper {
  width: 280px;
  height: 100%;
  position: fixed;
  right: -280px;
  top: 0;
  bottom: 0;
  z-index: 16;
  background: #111314;
  border-left: 0 solid #d2d2d2;
  -webkit-box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.13);
          box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.13);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.switcher-wrapper.switcher-toggled {
  right: 0;
}

.switcher-wrapper .switcher-btn {
  width: 40px;
  height: 40px;
  line-height: 36px;
  font-size: 24px;
  color: #fff;
  text-align: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  top: 40%;
  right: 100%;
  cursor: pointer;
  background: rgba(40, 48, 70, 0.72);
  -webkit-box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.13);
          box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.13);
}

.switcher-wrapper .switcher-btn .bx {
  font-family: boxicons !important;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  line-height: inherit;
  display: inline-block;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.switcher-wrapper .switcher-btn .bx.bx-spin {
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.switcher-wrapper .switcher-body {
  padding: 1.25rem;
}

.switcher-wrapper .switcher-body h5 {
  font-weight: 500;
  color: #fff;
}

.switcher-wrapper .switcher-body p {
  color: #fff;
}

.switcher-wrapper .switcher-body button {
  background: transparent;
}

.switcher-wrapper .switcher-body button:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.switcher-wrapper .switcher-body .switcher {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-left: 20px;
}

.switcher-wrapper .switcher-body .switcher li {
  float: left;
  width: 55px;
  height: 55px;
  margin: 0 15px 15px 0px;
  border-radius: 10px;
  border: 0px solid black;
}

.switcher-wrapper .switcher-body .switcher li#theme1 {
  background-image: url(../../assets/images/colors/1.webp);
  background-size: 100% 100%;
  background-position: center;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.switcher-wrapper .switcher-body .switcher li#theme2 {
  background-image: url(../../assets/images/colors/2.webp);
  background-size: 100% 100%;
  background-position: center;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.switcher-wrapper .switcher-body .switcher li#theme3 {
  background-image: url(../../assets/images/colors/3.webp);
  background-size: 100% 100%;
  background-position: center;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.switcher-wrapper .switcher-body .switcher li#theme4 {
  background-image: url(../../assets/images/colors/4.webp);
  background-size: 100% 100%;
  background-position: center;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.switcher-wrapper .switcher-body .switcher li#theme5 {
  background-image: url(../../assets/images/colors/5.webp);
  background-size: 100% 100%;
  background-position: center;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.switcher-wrapper .switcher-body .switcher li#theme6 {
  background-image: url(../../assets/images/colors/6.webp);
  background-size: 100% 100%;
  background-position: center;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.switcher-wrapper .switcher-body .switcher li#theme7 {
  background-image: linear-gradient(45deg, #0c675e, #069e90);
  background-size: 100% 100%;
  background-position: center;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.switcher-wrapper .switcher-body .switcher li#theme8 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), color-stop(52.08%, rgba(9, 120, 188, 0.8)), to(rgba(0, 0, 0, 0.8)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(9, 120, 188, 0.8) 52.08%, rgba(0, 0, 0, 0.8) 100%);
  background-size: 100% 100%;
  background-position: center;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.switcher-wrapper .switcher-body .switcher li#theme9 {
  background-image: linear-gradient(45deg, #29323c, #485563);
  background-size: 100% 100%;
  background-position: center;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.switcher-wrapper .switcher-body .switcher li#theme10 {
  background-image: linear-gradient(45deg, #795548, #945c48);
  background-size: 100% 100%;
  background-position: center;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.switcher-wrapper .switcher-body .switcher li#theme11 {
  background-image: linear-gradient(45deg, #1565c0, #1e88e5);
  background-size: 100% 100%;
  background-position: center;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.switcher-wrapper .switcher-body .switcher li#theme12 {
  background-image: linear-gradient(45deg, #65379b, #886aea);
  background-size: 100% 100%;
  background-position: center;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.page-wrapper .page-content .card {
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 11px rgba(51, 73, 167, 0.13);
          box-shadow: 0px 1px 11px rgba(51, 73, 167, 0.13);
}

.page-wrapper .page-content .card .card-body h4 {
  font-weight: 500;
  font-size: 16px;
  color: #000000;
}

.page-wrapper .page-content .card .card-body .card-icon {
  width: 32px;
  height: 32px;
  line-height: 32px;
  display: inline-block;
  background: #ffffff;
  border-radius: 3px;
  text-align: center;
  -webkit-box-shadow: 0px 1px 15px rgba(51, 73, 167, 0.19);
          box-shadow: 0px 1px 15px rgba(51, 73, 167, 0.19);
}

.page-wrapper .page-content .card .card-body p {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #000000;
}

.page-wrapper .page-content .card .card-body p.card-percent {
  font-weight: 300;
  font-size: 12px;
  line-height: 12px;
  color: #575757;
  padding-top: 4px;
}

.page-wrapper .page-content .card .card-body .customers-list {
  position: relative;
  height: 292px;
}

.page-wrapper .page-content .card.chart-card .card-header {
  border-bottom: 0;
  background: transparent;
}

.page-wrapper .page-content .card.chart-card .card-header button {
  background: transparent;
}

.page-wrapper .page-content .card.chart-card .card-header h6 {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 17px;
  color: #000000;
  padding-bottom: 6px;
  padding-top: 12px;
}

.page-wrapper .page-content .card.chart-card .card-body .progress {
  width: 150px;
  height: 150px;
  line-height: 150px;
  background: none;
  margin: 0 auto;
  -webkit-box-shadow: none;
          box-shadow: none;
  position: relative;
}

.page-wrapper .page-content .card.chart-card .card-body .progress:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 7px solid #eee;
  position: absolute;
  top: 0;
  left: 0;
}

.page-wrapper .page-content .card.chart-card .card-body .progress > span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}

.page-wrapper .page-content .card.chart-card .card-body .progress .progress-left {
  left: 0;
}

.page-wrapper .page-content .card.chart-card .card-body .progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 7px;
  border-style: solid;
  position: absolute;
  top: 0;
  border-color: #ffb43e;
}

.page-wrapper .page-content .card.chart-card .card-body .progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: calc(150px / 2);
  border-bottom-right-radius: calc(150px / 2);
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

.page-wrapper .page-content .card.chart-card .card-body .progress .progress-right {
  right: 0;
}

.page-wrapper .page-content .card.chart-card .card-body .progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 75px;
  border-bottom-left-radius: 75px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
}

.page-wrapper .page-content .card.chart-card .card-body .progress .progress-value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  font-size: 36px;
  text-align: center;
  line-height: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  font-weight: 300;
}

.page-wrapper .page-content .card.chart-card .card-body .progress .progress-value div {
  margin-top: 10px;
}

.page-wrapper .page-content .card.chart-card .card-body .progress .progress-value span {
  font-size: 12px;
  text-transform: uppercase;
}

.page-wrapper .page-content .card.chart-card .card-body .progress.blue .progress-bar {
  border-color: #00ff6a;
}

.page-wrapper .page-content .card.chart-card .card-body .progress.yellow .progress-bar {
  border-color: #ffbd07;
}

.page-wrapper .page-content .card.chart-card .card-body .progress.black .progress-bar {
  border-color: #000;
}

.page-wrapper .page-content .card.chart-card .card-body .table-responsive {
  white-space: nowrap;
}

.page-wrapper .page-content .card.chart-card .card-body .table-responsive table.table tr td,
.page-wrapper .page-content .card.chart-card .card-body .table-responsive table.table tr th {
  padding: 1rem 0.5rem;
}

.page-wrapper .page-content .card.chart-card .card-body .table-responsive table.table thead tr th {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.page-wrapper .page-content .card.chart-card .card-body .table-responsive table.table tbody tr.last-order {
  border-bottom: #fff;
}

.page-wrapper .page-content .card.chart-card .card-body .table-responsive table.table tbody tr td h6.font-14 {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #000000;
}

.page-wrapper .page-content .card.chart-card .card-footer {
  padding-top: 32px;
}

.page-wrapper .page-content .card.chart-card .card-footer h6 {
  font-weight: 500;
}

.page-wrapper .page-content .card.chart-card-one {
  min-height: 350px;
}

.page-wrapper .page-content .card.chart-card-one.chart-card-two {
  min-height: 366px;
}

.page-wrapper .page-content .card.chart-card-one.chart-card-two .card-body .driver-reg .reg-thumb {
  margin: 0 auto;
  text-align: center;
  position: relative;
  max-width: 250px;
}

.page-wrapper .page-content .card.chart-card-one.chart-card-two .card-body .driver-reg .reg-thumb:hover img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.page-wrapper .page-content .card.chart-card-one.chart-card-two .card-body .driver-reg .reg-thumb img {
  margin: 0 auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.page-wrapper .page-content .card.chart-card-one.chart-card-two .card-body .driver-reg .reg-thumb .reg-count {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.page-wrapper .page-content .card.chart-card-one.chart-card-two .card-body .driver-reg .reg-thumb .reg-count h3 {
  margin: 0;
  font-weight: 500;
  font-size: 29px;
  color: #ffffff;
}

.page-wrapper .page-content .card.chart-card-one.chart-card-two .card-body .driver-reg .reg-thumb .reg-count p {
  margin: 0;
  font-weight: 400;
  font-size: 24px;
  color: #ffffff;
}

.page-wrapper .page-content .card.driver-card {
  background: rgba(255, 255, 255, 0.3);
}

.page-wrapper .page-content .card.driver-card .card-body {
  padding: 1.5rem 1rem;
}

.page-wrapper .page-content .card.driver-card .card-body h4 {
  padding-bottom: 4px;
  color: #fff;
}

.page-wrapper .page-content .card.driver-card .card-body p {
  color: #fff;
}

.page-wrapper .page-content .card.driver-card .card-body span.pr-percent {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #69c6ff;
}

.page-wrapper .page-content .card.driver-card .card-body span.card-icon {
  width: initial;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: transparent;
}

.page-wrapper .page-content .card.diver-chart {
  background: rgba(255, 255, 255, 0.3);
}

.page-wrapper .page-content .card.diver-chart .card-header .table-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 0 12px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-wrapper .page-content .card.diver-chart .card-header .table-heading .Filter-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-wrapper .page-content .card.diver-chart .card-header .table-heading .Filter-table .search-invoice,
.page-wrapper .page-content .card.diver-chart .card-header .table-heading .Filter-table .select-invoice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 12px;
}

.page-wrapper .page-content .card.diver-chart .card-header .table-heading .Filter-table .search-invoice span,
.page-wrapper .page-content .card.diver-chart .card-header .table-heading .Filter-table .select-invoice span {
  font-size: 14px;
  color: #fff;
  margin-right: 12px;
  display: inline-block;
}

.page-wrapper .page-content .card.diver-chart .card-header .table-heading .Filter-table .search-invoice input,
.page-wrapper .page-content .card.diver-chart .card-header .table-heading .Filter-table .search-invoice select,
.page-wrapper .page-content .card.diver-chart .card-header .table-heading .Filter-table .select-invoice input,
.page-wrapper .page-content .card.diver-chart .card-header .table-heading .Filter-table .select-invoice select {
  height: 36px;
  padding: 10px;
  font-size: 14px;
  border-radius: 6px;
}

.page-wrapper .page-content .card.diver-chart .card-header .table-heading .Filter-table .search-invoice input:focus,
.page-wrapper .page-content .card.diver-chart .card-header .table-heading .Filter-table .search-invoice select:focus,
.page-wrapper .page-content .card.diver-chart .card-header .table-heading .Filter-table .select-invoice input:focus,
.page-wrapper .page-content .card.diver-chart .card-header .table-heading .Filter-table .select-invoice select:focus {
  outline: 0;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.page-wrapper .page-content .card.diver-chart .card-header .table-heading .Filter-table .search-invoice input::-webkit-input-placeholder,
.page-wrapper .page-content .card.diver-chart .card-header .table-heading .Filter-table .search-invoice select::-webkit-input-placeholder,
.page-wrapper .page-content .card.diver-chart .card-header .table-heading .Filter-table .select-invoice input::-webkit-input-placeholder,
.page-wrapper .page-content .card.diver-chart .card-header .table-heading .Filter-table .select-invoice select::-webkit-input-placeholder {
  font-size: 14px;
}

.page-wrapper .page-content .card.diver-chart .card-header .table-heading .Filter-table .search-invoice input:-ms-input-placeholder,
.page-wrapper .page-content .card.diver-chart .card-header .table-heading .Filter-table .search-invoice select:-ms-input-placeholder,
.page-wrapper .page-content .card.diver-chart .card-header .table-heading .Filter-table .select-invoice input:-ms-input-placeholder,
.page-wrapper .page-content .card.diver-chart .card-header .table-heading .Filter-table .select-invoice select:-ms-input-placeholder {
  font-size: 14px;
}

.page-wrapper .page-content .card.diver-chart .card-header .table-heading .Filter-table .search-invoice input::-ms-input-placeholder,
.page-wrapper .page-content .card.diver-chart .card-header .table-heading .Filter-table .search-invoice select::-ms-input-placeholder,
.page-wrapper .page-content .card.diver-chart .card-header .table-heading .Filter-table .select-invoice input::-ms-input-placeholder,
.page-wrapper .page-content .card.diver-chart .card-header .table-heading .Filter-table .select-invoice select::-ms-input-placeholder {
  font-size: 14px;
}

.page-wrapper .page-content .card.diver-chart .card-header .table-heading .Filter-table .search-invoice input::placeholder,
.page-wrapper .page-content .card.diver-chart .card-header .table-heading .Filter-table .search-invoice select::placeholder,
.page-wrapper .page-content .card.diver-chart .card-header .table-heading .Filter-table .select-invoice input::placeholder,
.page-wrapper .page-content .card.diver-chart .card-header .table-heading .Filter-table .select-invoice select::placeholder {
  font-size: 14px;
}

.page-wrapper .page-content .card.diver-chart .card-body .bg-gradient-dark-green {
  border-radius: 6px;
  background: linear-gradient(89.64deg, #69c6ff 0.16%, #00ff6a 99.58%);
}

.page-wrapper .page-content .card.diver-chart .card-body h6.chart-titel {
  font-weight: 400;
  color: #fff;
}

.page-wrapper .page-content .card.diver-chart .card-body p.chart-des {
  color: #9bd9ff;
}

.page-wrapper .page-content .card.diver-chart .card-body .table-responsive table {
  color: #ffff;
}

.page-wrapper .page-content .card.diver-chart .card-body .table-responsive table th,
.page-wrapper .page-content .card.diver-chart .card-body .table-responsive table td {
  color: #fff !important;
}

.page-wrapper .page-content .card.diver-chart .card-body .table-responsive table tbody tr td h6.font-14 {
  color: #fff !important;
}

.page-wrapper .page-content .card.diver-chart .card-body .table-responsive table tbody tr td .dropdown a.dropdown-toggle {
  color: #fff;
}

.page-wrapper .page-content .card.diver-chart .card-body .table-pagination ul.pagination {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.page-wrapper .page-content .card.diver-chart .card-body .table-pagination ul.pagination li.page-item {
  border-radius: 5rem;
}

.page-wrapper .page-content .card.diver-chart .card-body .table-pagination ul.pagination li.page-item:last-child a.page-link {
  border-radius: 0 25px 25px 0;
}

.page-wrapper .page-content .card.diver-chart .card-body .table-pagination ul.pagination li.page-item.active a.page-link {
  color: #000;
  background: #fff;
}

.page-wrapper .page-content .card.diver-chart .card-body .table-pagination ul.pagination li.page-item a.page-link {
  border: 0;
  color: #b4b7bd;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #242b3d;
}

.page-wrapper .page-content .card.diver-chart .card-body .table-pagination ul.pagination li.page-item a.page-link:focus {
  border: 0;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.page-wrapper .page-content .card.diver-chart .card-body .bar-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 12px;
}

.page-wrapper .page-content .card.diver-chart .card-body .bar-item .title {
  color: #fff;
  font-size: 14px;
  width: 100%;
  padding-bottom: 12px;
}

@media (min-width: 576px) {
  .page-wrapper .page-content .card.diver-chart .card-body .bar-item .title {
    width: calc(100% - 80%);
    padding-bottom: 0;
  }
}

.page-wrapper .page-content .card.diver-chart .card-body .bar-item .bar {
  width: 90%;
  height: 10px;
  background: #fff;
  border-radius: 5px;
  position: relative;
  -webkit-transition: all 2s linear;
  transition: all 2s linear;
}

@media (min-width: 576px) {
  .page-wrapper .page-content .card.diver-chart .card-body .bar-item .bar {
    width: 70%;
  }
}

.page-wrapper .page-content .card.diver-chart .card-body .bar-item .bar .bar-inner {
  width: 0;
  height: 10px;
  line-height: 10px;
  border-radius: 5px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  background: -webkit-gradient(linear, left top, right top, from(#c8102e), to(#ffbd07));
  background: linear-gradient(90deg, #c8102e 0%, #ffbd07 100%);
  -webkit-animation: animate 0.5s 0.5s cubic-bezier(1, 0, 0.5, 1) forwards;
          animation: animate 0.5s 0.5s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.page-wrapper .page-content .card.diver-chart .card-body .bar-item .bar .bar-percent {
  position: absolute;
  right: -32px;
  top: -3px;
  color: #fff;
  font-size: 12px;
}

@media (min-width: 576px) {
  .page-wrapper .page-content .card.diver-chart .card-body .bar-item .bar .bar-percent {
    right: -40px;
  }
}

.page-footer {
  background: rgba(255, 255, 255, 0.12);
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  padding: 7px;
  color: #fff;
  font-size: 14px;
  margin-top: 24px;
  z-index: 3;
}

@media (min-width: 1200px) {
  .page-footer {
    left: 250px;
  }
}

.page-footer p {
  margin: 0;
  color: #fff;
}

.login-content .page-header {
  padding: 0;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-position: 50%;
}

.login-content .page-header .mask {
  position: absolute;
  background-position: 50%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.login-content .page-header .mask.bg-gradient-dark {
  background-image: linear-gradient(195deg, #42424a, #191919);
}

.login-content .page-header .mask.opacity-6 {
  opacity: 0.6 !important;
}

.login-content .page-header .card {
  border-radius: 10px;
}

.login-content .page-header .card.fadeInBottom {
  -webkit-animation-name: h;
          animation-name: h;
}

.login-content .page-header .card .card-header {
  border-bottom: 0;
  margin-top: -24px;
}

.login-content .page-header .card .card-header .bg-gradient-primary {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(6%, rgba(0, 0, 0, 0.8)), color-stop(52.08%, rgba(9, 120, 188, 0.8)), to(rgba(0, 0, 0, 0.8)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 6%, rgba(9, 120, 188, 0.8) 52.08%, rgba(0, 0, 0, 0.8) 100%);
}

.login-content .page-header .card .card-header .border-radius-lg {
  border-radius: 0.5rem;
}

.login-content .page-header .card .card-header .shadow-primary {
  -webkit-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(9, 120, 188, 0.5);
          box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(9, 120, 188, 0.5);
}

.login-content .page-header .card .card-body form .input-group {
  display: block;
  position: relative;
}

.login-content .page-header .card .card-body form .input-group input.form-control {
  width: 100%;
  border-radius: 6px !important;
}

.login-content .page-header .card .card-body form .input-group input.form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #012169;
}

.login-content .page-header .card .card-body form .input-group label.form-label {
  position: absolute;
  top: 50%;
  left: 10px;
  margin: 0;
  z-index: 1;
  font-size: 13px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.login-content .page-header .card .card-body form .form-switch .form-check-input {
  position: relative;
  background-color: #ced4da;
  height: 0.9375rem;
  width: 1.875rem;
  border: 0;
}

.login-content .page-header .card .card-body form .form-switch .form-check-input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0;
}

.login-content .page-header .card .card-body form .form-switch .form-check-input:checked:after {
  -webkit-transform: translateX(21px);
          transform: translateX(21px);
  border-color: #42424a;
}

.login-content .page-header .card .card-body form .form-switch .form-check-input:after {
  -webkit-transition: background-color 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, background-color 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, background-color 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  content: "";
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  border: 1px solid #ced4da;
  position: absolute;
  background-color: #fff;
  -webkit-transform: translateX(1px);
          transform: translateX(1px);
  -webkit-box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.6);
          box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.6);
  top: -3.5px;
  left: -5px;
}

.login-content .page-header .card .card-body form .btn-primary:hover,
.login-content .page-header .card .card-body form .btn.bg-gradient-primary:hover {
  background-color: #0978bccc;
  border-color: #0978bccc;
  -webkit-box-shadow: 0 14px 26px -12px rgba(233, 30, 99, 0.4), 0 4px 23px 0 rgba(233, 30, 99, 0.15), 0 8px 10px -5px rgba(233, 30, 99, 0.2);
          box-shadow: 0 14px 26px -12px rgba(233, 30, 99, 0.4), 0 4px 23px 0 rgba(233, 30, 99, 0.15), 0 8px 10px -5px rgba(233, 30, 99, 0.2);
}

.login-content .page-header .card .card-body form button.bg-gradient-primary {
  color: #fff;
  background: #0978bccc;
}

.login-content .page-header .card .card-body form button.bg-gradient-primary:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.login-content .page-header .card .card-body form a.text-gradient {
  color: #0978bccc;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */